.posts-card {
    @include card;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
    
        $size: 128px;
    
        width: $size;
        height: $size;
        border-radius: $size;
        
        > img {
            width: 94%;
            height: 94%;
            object-fit: cover;
            border-radius: inherit;
      
            user-select: none;
            pointer-events: none;
        }
    }

    > strong {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: calc($defaultSpacing / 2);
        // margin-top: $defaultSpacing;
        font-size: 18px;
        line-height: 27px;
        font-weight: 700;
        text-align: right;
    }
}